<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'adicionar_portfolio.css' %}">
    <title>Adicionar Portfólio</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="add-portfolio-container">
        <h2>Adicionar Portfólio</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Título do Portfólio" required>
            <textarea name="description" placeholder="Descrição do Portfólio" required></textarea>
            <button type="submit">Adicionar Portfólio</button>
        </form>

        <h3>Meus Portfólios</h3>
        <ul>
            {% for portfolio in portfolios %}
                <li>{{ portfolio.title }} - {{ portfolio.description }}</li>
            {% empty %}
                <li>Você ainda não adicionou portfólios.</li>
            {% endfor %}
        </ul>

        <button class="back-btn">
            <a href="{% url 'editar_perfil' %}" style="color: #ffffff; text-decoration: none;">Voltar para o Editar Perfil</a>
        </button>
    </div>
</body>
</html>
