<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil/edit_skills.css' %}">
    <title>Editar Skills</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="edit-skills-container">
        
        <h2>Editar Skills</h2>

        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}

        <form method="POST" class="edit-skills-form">
            {% csrf_token %}
            <label for="skill_name" class="skill-label">Adicionar uma nova skill:</label>
            <input type="text" name="skill_name" id="skill_name" class="new-skill-input" placeholder="Adicione sua skill">
            <button type="submit" class="edit-skills-btn">Salvar skill</button>
        </form>
        
               

        <h3>Suas skills</h3>
        <ul>
            {% for skill in habilidades_usuario %}
                <li>{{ skill.name }}</li>
            {% empty %}
                <li>Você ainda não possui skills</li>
            {% endfor %}
        </ul>

        <a href="{% url 'editar_perfil' %}" class="back-btn btn">Voltar para o editar perfil</a>
    </div>
</body>
</html>
