/* Estilo gral */
body {
  background-color: rgb(31, 41, 55);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.edit-skills-container {
  background-color: rgb(15, 23, 42);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  color: #f8f8f8;
  overflow-y: auto;
  max-height: 80vh;
}

.edit-skills-container h2 {
  color: #f8f8f8;
  margin-bottom: 20px;
}

/* Estilo do formulário */
.edit-skills-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.edit-skills-container form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  background-color: rgb(55, 65, 81);
  color: #f8f8f8;
  font-size: 16px;
  outline: none;
  height: 100px; /* Ajuste da altura da área de texto */
}

.edit-skills-container form button {
  padding: 10px;
  background-color: rgb(66, 180, 75);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.12s, opacity 0.12s;
}

.edit-skills-container form button:hover {
  background-color: rgb(55, 155, 65);
}

.edit-skills-container form button:active {
  opacity: 0.6;
}

/* Estilo do botão de voltar */
.back-btn {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 20px;
  background-color: rgb(66, 180, 75);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.back-btn:hover {
  background-color: rgb(55, 155, 65);
  transform: scale(1.05);
}

.back-btn:active {
  opacity: 0.6;
}
