.add-portfolio-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(15, 23, 42);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 22px;
    color: #f8f8f8;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: rgb(55, 65, 81);
    border-radius: 8px;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:hover {
    background-color: rgb(66, 155, 75);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li .description {
    font-size: 14px;
    color: rgba(248, 248, 248, 0.7);
}

ul li .btn-edit {
    background-color: rgb(66, 180, 75);
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

ul li .btn-edit:hover {
    background-color: rgb(55, 155, 65);
}

.back-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.back-btn a {
    text-decoration: none;
    color: white;
    background-color: rgb(66, 180, 75);
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-btn a:hover {
    background-color: rgb(55, 155, 65);
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(66, 180, 75);
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(55, 155, 65);
}

button[type="submit"]:active {
    opacity: 0.7;
}
